html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta( name="Description" content="Academic URL Shortener")
    script(src='/js/index.js')
    title= "Url Shortener"
    link( rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic")
    link( rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css")
    link( rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css")
    link( rel="stylesheet" href="css/style.css")
    link( rel="stylesheet" href="css/card.css")
  body(class="main-container")
    div(class="form-container container")
      div(class="row")
        div(class="column")
          div(class="card")
            h1 Shorten a URL
            label URL 
              input(class="targetUrl" type="text")
            input(type="submit" onClick="main()")
            br
            a(class="resultURL")
            if err
              strong 
                p Error #{err}
    a( class="gh-logo float-right" href="https://github.com/brooksbecton/shortUrl" target="_blank")
      img(src="images/GitHub-Logo.png" alt="GitHub Logo")
        
