extends layout.pug

block content
  div(class="form-container  container")
    div(class="row")
      div(class="column")
        div(class="animated card fadeInDownBig")
          h1 URL Shortener
          a(href="/auth/facebook") login
          label URL 
            input(class="targetUrl" type="text")
          input(type="submit" onClick="main()")
          br
          a(class="resultURL")
          if err
            strong 
              p Error #{err}

      
