extends layout.pug

block content
  div(class="container")
    div(class="row")
      div(class="column")
        div(class="animated card fadeInDownBig")
          h1 login
          button Facebook Login

      
