.main-container {
  /* background-color: #6d0ca7; */
  background: linear-gradient(to bottom right, #6d0ca7, #842fb7);
  margin-top: 2vh;
}

@media only screen and (max-width: 600px) {
  .main-container {
    margin-top: 8vh;
  }
}

.form-container {
  margin-top: 5%;
}

.gh-logo {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
}
